<%- include('partials/head') %>

    <%- include('partials/navbar') %>

        <form class="box" method="post" action="/signup">
            <div class="inputBox">
                Email <input type="email" name="email" value="<%= email %>" required>
                <label>
                    <%= Email %>
                </label>
            </div>
            <div class="inputBox">
                Password <input type="password" name="password" value="" required>
                <label>
                    <%= Password %>
                </label>
            </div>
            <button type="submit" name="signup" value="Sign-up">Sign up </button>
        </form>
        <%- include('partials/footer') %>